
body {
  font-size: 1rem;
  font-family: var(--font), sans-serif;
  color: var(--primaryColor);
  background-color: var(--bg);
  line-height: 1.8;
  position: relative;
  overflow-x: hidden;
}

.border-theme{
  border-right:1px solid var(--ruler);
}

input,
textarea {
  font-family: var(--font), sans-serif;
  font-size: 1rem;
}


textarea:focus,
button:focus,
[type="submit"]:focus,
[type="button"]:focus,
[role="button"]:focus,
video:focus {
  outline: none;
  appearance: none;
  border: none !important;
}



.notebook-options{
display: none;
  transition: all .3s ease-in;
}
.options{
  transition: all .3s ease-in;
}

.options:hover > .notebook-options{
display: block;
}


button {
  font-size: 1rem;
  cursor: pointer;
}

textarea {
  resize: none !important;
}

/* common styles */
.app-btn{
	background-color: var(--tertiaryColor);
	border: 1px solid var(--ruler);
  color: var(--primaryColor) !important;
}
.app-btn-outline{
  background-color: white;
  border:3px solid var(--tertiaryColor);
  color: var(--tertiaryColor);
}
.app-btn-outline:focus{
  border:3px solid var(--tertiaryColor);
}


.app-svg{
  fill: var(--primaryColor);
}
input:-internal-autofill-selected,
.app-input{
  background-color: var(--tertiaryColor) !important;
  color: var(--primaryColor) !important;
  border:1px solid var(--tertiaryColor);
  
}
.app-input::placeholder{
  color:var(--secondaryColor);
}


.options-list {
  background-color: var(--bg);
  color: var(--primaryColor);
  border:1px solid var(--ruler)
}



.palet{
  opacity: 0;
  position: absolute;
  left:20px;
  top:0;
  transition: all .5s linear;
  cursor: pointer;
}

.palet:nth-of-type(1){
  transition-delay: 0s;
}
.palet:nth-of-type(2){
  transition-delay:.2s;
}
.palet:nth-of-type(3){
  transition-delay:.3s;
}
.palet:nth-of-type(4){
  transition-delay:.4s;
}
.palet:nth-of-type(5){
  transition-delay:.5s;
}

.add-theme{
  z-index: 9;
  position: relative;
}

.pallet-buttom:hover > .palet{
  opacity: 1;
  }
.pallet-buttom:hover > .palet:nth-of-type(1)
{
  left: 60px;
  background-color: #C19191;
}
.pallet-buttom:hover > .palet:nth-of-type(2)
{
  left:90px;
  background-color: #5C5470;
}
.pallet-buttom:hover > .palet:nth-of-type(3)
{
  left: 120px;
  background-color: #322F3D;
}
.pallet-buttom:hover > .palet:nth-of-type(4)
{
  left:150px;
  background-color: #3B6978;
}
.pallet-buttom:hover > .palet:nth-of-type(5)
{
  left: 180px;
  background-color: #DFD3D3;
}

/* width */
::-webkit-scrollbar {
  width:3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--primaryColor);; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:var(--primaryColor);; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primaryColor);; 
}