.notebook-list {
    &:hover {
        background-color: var(--bg);
        color: var(--primaryColor);
    }
}
.drop-svg {
    display: none;
    @media (max-width: 900px) {
        display: block;
        &:hover {
            opacity: 0.8;
        }
    }
}

.notebook-list-active {
    background-color: var(--bg);
    color: var(--primaryColor);
}
.mobile-notes {
    background-color: var(--bg);
    color: var(--primaryColor);
    transition: all 0.3s linear;
    display: none;
    @media (max-width: 900px) {
        display: block;
    }
}

.notebook-options {
    display: none;
    transition: all 0.3s ease-in;
}

.options {
    transition: all 0.3s ease-in;
    &:hover {
        .notebook-options {
            display: block;
        }
    }
}
